<hr style="height:1.25px;border-width:0;background-color:#C8C8C8">

<footer class="l-4col">
      <div class="l-first panel o-box">
        
      </div>
        

				<div class="l-second panel o-box">
          <h6 class="footer-heading">UC Davis Schema Library</h6>
          <p style="color:#989898; font-size: 14px;">UC Davis Schema Library <br />
          <a class="u-email" href="mailto:onlinestrategy@ucdavis.edu">onlinestrategy@ucdavis.edu</a></p>
					</ul>
				</div>

				<div class="l-third panel o-box">
					<p style="color:#989898; font-size: 14px;">Write an awesome description for your new site here. You can edit this line in _config.yml. It
						will appear in your document head meta (for Google search results) and in your feed.xml site
						description.</p>
				</div>
        <div class="l-fourth panel o-box">
					
				</div>


	</footer>