<ucdlib-header site-name="UC Davis Library Schema">
    <ucdlib-primary-nav>
        <a href="/context">Contexts</a>
        <a href="/catalog">Catalog</a>
        <a href="/about">About</a>
    </ucdlib-primary-nav>
</ucdlib-header>