<ucdlib-header site-name="UC Davis Library Schema">
    <ucdlib-primary-nav>
        <a href="https://ucd-library.github.io/schema/_contexts">Contexts</a>
        <a href="https://ucd-library.github.io/schema/_schemas">Catalog</a>
        <a href="https://ucd-library.github.io/schema/about">About</a>
    </ucdlib-primary-nav>
</ucdlib-header>