<%- include('../partials/head') %>
<%- include('../partials/header') %>
<main class="page-content" aria-label="Content">
        

        <div class="l-container">
            <div class="panel o-box">
                <div class="schema">    
                    <ucdlib-md id="md">
                      <ucdlib-md-content>
                          <%- markdown %>
                      </ucdlib-md-content>
                    </ucdlib-md>
              </div>
            </div>
          </div>
        
</main>
<%- include('../partials/footer') %>