<%- include('../partials/head') %>
<%- include('../partials/header') %>

<main class="page-content" aria-label="Content">
  <div class="l-container">
      <div class="panel o-box">
          <div class="schema">    
            <p style="font-size:21px">
              Some info about the properties in this collection and which apps they are part of. Labeled Aggie Experts (AE) / DAMS (DAMS)
            </p>
            <h4 style="font-size:30px">Properties:</h4>
            <ucdlib-md id="md">
              <ucdlib-md-content>
                <%- include('../../_schemas/schemas-list.md') %>
              </ucdlib-md-content>
            </ucdlib-md>
        </div>
      </div>
    </div>
</main>

<%- include('../partials/footer') %>