---
layout: default
---
<main class="page-content" aria-label="Content">
    <div class="wrapper">
        <div class="contexts">
            <h4>Contexts:</h4>
            <ul>
                {% for s in site.contexts %}
                <!-- {{ s | inspect }} -->
                <li>
                    {{ s.content }}
                    <!-- <a href="{{ s.url }}">{{ s.slug }}</a> -->
                </li>
                {% endfor %}                
            </ul>
        </div>
    </div>
</main>
