---
layout: default
---
<main class="page-content" aria-label="Content">
    <div class="wrapper">
        <div class="schema">
            <!-- <h1 class="post-list-heading">Posts</h1>
            <ul class="post-list">
                {% for post in site.posts %}
                    <li>
                        <h5><a href="{{ post.url }}">{{ post.title }}</a></h5>
                        {{ post.excerpt }}
                    </li>
                {% endfor %}
            </ul> -->

            <!-- <h1>Organization of Schemas</h1>
            The schemas are a set of 'types', each associated with a set of properties.

            <h4>Schemas:</h4>
            <ul>
                {% for schema in site.schemas %}
                <li>
                    {{ schema }}
                </li>
                {% endfor %}
            </ul>
             -->

             {{ content }}


        </div>

    </div>
</main>
